<div class="container">
<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <h3><%= @user.name %> さんがお気に入りに登録した投稿一覧</h3>
        <hr>
    </div>
    <% @favorites.each do |fav| %>
        <div class="col-md-6 col-md-offset-3">
            <div class="row  favorite-border-item">
                <div class="col-md-5">
                    <h4>レビュー題名</h4>
                    <p class="index-font"><%= fav.review.review_title %></p>
                    <h4>レビュー元作品名</h4>
                    <p class="index-font"><%= fav.review.novel_name %></p>
                    <h4>レビュー本文</h4>
                    <p class="index-font"><%= fav.review.review_text.truncate(20) %></p>
                    <p class="index-font"><%= link_to 'このレビューの詳細を見る', review_path(fav.review) %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>
</div>