<div class="container">
	<div class="row">
		        <div class="col-md-6 col-md-offset-3">
		           <h3><%= @user.name %> さんの投稿一覧</h3>
		           </div>
				  <% @reviews.each do |review| %>
					<div class="row review-list">
						<div class="col-md-12">
							<table class="table">
							<tbody>
								<tr>
									<th>作品名　<%= review.novel_name %></th>
								</tr><br>
								<tr>
									<th>レビュータイトル　<%= review.review_title%></th>
								</tr><br>
								<tr>
									<th>レビュー本文　<%= truncate(review.review_text) %><%= link_to "本文をもっと読むにはこちらをクリック", review_path(review) %></th>
								</tr><br>
								<tr>
									<th><%=render 'reviews/tag_list', tag_list: review.tag_list %></th>
								</tr>
								<% if @user.id == current_user.id %>
								<tr>
									<th><%= link_to "編集する", edit_review_path(review.id), class:"btn btn-success" %> <%= link_to "削除する", review_path(review.id), method: :delete, class:"btn btn-danger"%></th>
								</tr>
								<% end %>
							</tbody>
							</table>
						</div>
					</div><br>
					<% end %>
	</div>
</div>
