<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

       <h1>ユーザー情報</h1><br>
       <div class="profile-image">
         <%= attachment_image_tag @user, :profile_image, :fill, 80, 80, class: "img-profile-thumb", fallback: "blank-profile-picture-973460_960_720.png", size:'80x80' %>
       </div>
        <div class="profile-name">
    	    <h3 class="prof-name">名前</h3>
    	    <%= @user.name %>
        </div><br>
        <div class="profile-caption">
          <h3 class="prof-cap">自己紹介</h3>
          <%= @user.caption %>
        </div><br>
        <div class="prof-fav">
        	<%= link_to "お気に入りに登録した投稿一覧", user_favorites_path(@user), class:'btn btn-success' %>
        </div><br>
        <div class="prof-edit">
          <% if @user == current_user %>
        	<%= link_to "編集する", edit_user_path, class:'btn btn-default' %>
          <% end %>
        </div><br><br>
        <div class="admin-menu">
          <% if @user.admin_flg == true %>
          <h2>管理者用メニュー</h2>
          <% end %>
        </div><br>
        <div class="admin-link">
          <% if @user.admin_flg == true %>
          <%= link_to "ユーザー一覧", user_admin_index_path(@user.id), class:'btn btn-default' %>
          <% end %>
        </div>

        </div>

    </div>
   </div>
</div>